///////////////////////////////////////////////////////////////////////////////////////////////////
// Colors
///////////////////////////////////////////////////////////////////////////////////////////////////

@grey-54: #8a8a8a;
@grey-90: #e5e5e5;
@grey-91: #e9ebec;
@grey-93: #efefef;
@grey-94: #f2f2f2;

@blue-15: #1d2631;
@blue-21: #283645;
@blue-33: #485461;

@green-36: #1c9b5e;
@green-41: #2aab6d;
@green-50: #3dc644;

@beige-93: #f3f1ea;

@orange-54: #f25b26;

@pink-49: #d22856;





///////////////////////////////////////////////////////////////////////////////////////////////////
// Typography
///////////////////////////////////////////////////////////////////////////////////////////////////

@open-sans: "Open Sans", Tahoma, sans-serif;


// Text

@text_font-size--xs: 14px;
@text_font-size--sm: 18px;

@text_line-height--xs: 27px;
@text_line-height--sm: 30px;

@text_font-family: @open-sans;

@text_color: @blue-21;


// Headings

@h1_font-size: 24px;
@h2_font-size: 24px;
@h3_font-size: 18px;

@h1_line-height: 30px;
@h2_line-height: 30px;
@h3_line-height: 24px;

@headings_font-family: @open-sans;

@h1_color: @blue-21;
@h2_color: @blue-21;





///////////////////////////////////////////////////////////////////////////////////////////////////
// Links
///////////////////////////////////////////////////////////////////////////////////////////////////

@link_color: @pink-49;
@link_color--hover: @blue-21;
@link_color--active: fade(@blue-21, 30%);

@nav-link_color: #fff;
@nav-link_color--hover-xs: @pink-49;
@nav-link_color--active-xs: fade(@pink-49, 30%);

@nav-link_color--current: @pink-49;

@nav-link_bg--xs: @blue-21;





///////////////////////////////////////////////////////////////////////////////////////////////////
// z-index
///////////////////////////////////////////////////////////////////////////////////////////////////

@zi_navbar: 3;
@zi_navbar-header: 1;
@zi_navbar-nav: -1;
@zi_reviews-slider-controls: 1;
@zi_cost-slider-controls: 1;
@zi_cost-label: 1;
@zi_contacts-triangle-mask: 1;
@zi_btn--cross: 1;
@zi_popup-overlay: 2;
@zi_date-decoration: -1;
