.logo {
  display: block;
  width: 114px;
  height: 66px;
  margin-left: -20px;
  padding: 21px 20px;

  &--footer-xs {
    width: 145px;
    height: 40px;
    margin-left: 0;
    padding: 0;
  }

  &__img {
    display: block;

    &--header-xs {
      width: 74px;
      height: 24px;
    }

    &--footer-xs {
      width: 145px;
      height: 40px;
    }
  }
}
