.cost-table {
  width: 262.5%;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
  text-transform: uppercase;
  border-collapse: collapse;
  transition: transform .25s;

  @media(min-width: 700px) {
    width: 100%;
  }

  &__row {

  }

  &__heading,
  &__cell {
    border: 2px solid @grey-90;

    &:first-child {
      display: none;

      @media(min-width: 700px) {
        display: table-cell;
      }
    }
  }

  &__heading {
    padding: 16px 15px 20px;
    color: #fff;
    background-color: @blue-21;
    background-clip: padding-box;
    border-bottom: none;

    @media(min-width: 700px) {
      padding-top: 17px;
      padding-bottom: 17px;

      &:first-child {
        background-color: transparent;
        border-top: none;
        border-left: none;
      }

      &:nth-child(2)::before {
        top: 5px;
        left: -30px;
      }
    }

    @media(min-width: 1200px) {
      padding-top: 22px;
      padding-bottom: 20px;
    }

    // label
    &:nth-child(3) {
      .has-label("Хит", @zi_cost-label, 500, @pink-49);

      @media(min-width: 700px) {
        &::before {
          top: 4px;
          left: -31px;
        }
      }

      @media(min-width: 1200px) {
        &::before {
          top: 11px;
          left: -25px;
          font-size: 14px;
        }
      }
    }
  }

  &__name,
  &__value {
    display: block;
  }

  &__name {
    margin-bottom: 2px;
    font-size: 18px;

    @media(min-width: 700px) {
      margin-bottom: 11px;
      font-size: 16px;
      line-height: 1;
    }

    @media(min-width: 1200px) {
      margin-bottom: 8px;
      font-size: 18px;
    }
  }

  &__value {
    font-weight: 300;
    font-size: 24px;

    @media(min-width: 700px) {
      font-size: 18px;
      line-height: 1;
    }

    @media(min-width: 1200px) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__cell {
    position: relative;
    padding: 16px 18px 13px;
    background-color: #fff;
    background-clip: padding-box;
    text-align: right;

    @media(min-width: 700px) {
      width: 25%;
      padding: 7px 15px;
      text-align: center;
    }

    @media(min-width: 1200px) {
      padding: 14px 22px;
    }

    &:first-child {
      @media(min-width: 700px) {
        font-size: 14px;
        text-align: left;
        text-transform: none;
      }

      @media(min-width: 1200px) {
        font-size: 18px;
      }
    }

    .cost-table__row:nth-child(2) &:not(:first-child) {
      border-top: none;
    }

    .cost-table__row:not(:first-child) &:not(:first-child)::before {
      content: attr(data-feature);
      position: absolute;
      top: 50%;
      left: 23px;
      transform: translateY(-50%);

      @media(min-width: 700px) {
        content: none;
      }
    }
  }

  &__text-hidden {
    display: none;
  }

  &__icon-yes,
  &__icon-no {
    vertical-align: middle;
  }

  &__icon-yes {
    fill: @green-50;
  }

  &__icon-no {
    fill: @orange-54;
  }
}
