.reviews-quote {
  margin: 0;
  line-height: 30px;
  text-align: center;

  &__author {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 18px;
    color: #000;
  }

  &__text {
    margin-top: 15px;
    margin-bottom: 0;
  }
}
