.photos {
  margin-left: 0;
  margin-right: 0;
  padding: 36px 0 10px;
  background-color: @grey-94;
  border: none;

  @media(min-width: 700px) {
    position: relative;
    display: flex;
    margin-bottom: 58px;
    padding: 40px 0 20px;
    background-color: #fff;
    border: 2px solid @grey-90;
    border-radius: 3px;
  }

  @media(min-width: 960px) {
    margin-bottom: 60px;
    padding-top: 42px;
    padding-bottom: 40px;
  }

  &__heading {
    margin-top: 0;
    margin-bottom: 33px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: @pink-49;

    @media(min-width: 700px) {
      position: absolute;
      top: 0;
      left: 50%;
      margin-bottom: 0;
      background-color: #fff;
      transform: translate(-50%, -50%);
    }
  }

  &__field-wrap {
    margin-bottom: 23px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 33px;
    border-bottom: 2px solid  @grey-90;

    @media(min-width: 700px) {
      width: 80.64516129032258%;
      .center;
      margin-bottom: 42px;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 43px;
    }

    @media(min-width: 960px) {
      width: 820px;
      margin-bottom: 53px;
      padding-bottom: 41px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    .ul-reset;

    @media(min-width: 700px) {
      padding-left: 25px;
      padding-right: 25px;
    }

    @media(min-width: 960px) {
      padding-left: 32px;
      padding-right: 32px;
    }
  }

  &__item {
    position: relative;
    width: 68px;
    margin: 10px 20px;

    @media(min-width: 700px) {
      width: 120px;
      margin: 23px 35px;
    }

    @media(min-width: 960px) {
      margin: 11px 27px;
    }

    &::after {
      display: block;
      margin-top: 10px;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
      color: @blue-21;

      @media(min-width: 700px) {
        font-size: 14px;
        line-height: 26px;
      }
    }

    &:nth-child(1)::after {
      content: "img-1.jpg";
    }

    &:nth-child(2)::after {
      content: "img-2.jpg";
    }

    &:nth-child(3)::after {
      content: "img-3.jpg";
    }

    &:nth-child(4)::after {
      content: "img-4.jpg";
    }

    &:nth-child(5)::after {
      content: "img-5.jpg";
    }

    &:nth-child(6)::after {
      content: "img-6.jpg";
    }

    &:nth-child(7)::after {
      content: "img-7.jpg";
    }

    &:nth-child(8)::after {
      content: "img-8.jpg";
    }
  }

  &__photo {
    display: block;
    width: 100%;
    height: auto;
  }
}
