.page-footer {

  &--main-page {
    display: none;

    @media(min-width: 700px) {
      display: block;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 20px 50px;

    @media(min-width: 700px) {
      flex-direction: row;
      justify-content: space-between;
      width: 88.57142857142857%;
      .center;
      padding: 38px 0;
    }

    @media(min-width: 960px) {
      width: 960px;
      padding: 73px 10px;
    }
  }

  &__column {
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 40px;

      @media(min-width: 700px) {
        margin-bottom: 0;
      }
    }

    &:nth-child(3) {
      line-height: 18px;
    }
  }

  &__link {
    display: block;
    line-height: 34px;
    color: @blue-21;

    &:hover {
      text-decoration: none;
    }
    &:active {
      color: @blue-21;
    }
  }

  &__text {
    font-size: 14px;
    vertical-align: middle;

    @media(min-width: 700px) {
      font-size: 18px;
      line-height: 18px;
    }
  }

  &__icon {
    margin-left: 15px;
    vertical-align: middle;
    fill: @pink-49;
    transition: fill .15s;

    .page-footer__link:hover & {
      fill: @blue-21;
    }
    .page-footer__link:active & {
      fill: fade(@blue-21, 30%);
    }
  }

  &__text-hidden {
    display: none;
  }
}
