.logo {
  display: block;
  width: 114px;
  height: 66px;
  padding: 21px 20px;

  @media(min-width: 700px) {
    width: 145px;
    height: 110px;
    padding: 27px 0px 43px;
  }

  &--footer {
    width: 145px;
    height: 40px;
    margin-left: 0;
    padding: 0;

    @media(min-width: 700px) {
      margin-top: -17px;
    }
  }

  &--nav {
    display: none;

    @media(min-width: 960px) {
      display: block;
    }
  }

  &__img {
    display: block;

    &--header {
      width: 74px;
      height: 24px;

      @media(min-width: 700px) {
        width: 145px;
        height: 40px;
      }
    }

    &--footer {
      width: 145px;
      height: 40px;
    }
  }
}
