.time {
  margin-left: 0;
  margin-right: 0;
  padding: 40px 20px 45px;
  border: none;

  &__heading {
    margin-top: 0;
    margin-bottom: 40px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: @pink-49;
  }

  &__field-wrap {

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__field {
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-size: 18px;
    background-color: @grey-94;
    border: 2px solid @grey-90;
    border-radius: 3px;
    outline: none;
    transition: background-color .15s;

    &:hover,
    &:focus {
      background-color: #fff;
    }

    &::-moz-placeholder { color: @blue-21; } // not working
    &::-webkit-input-placeholder { color: @blue-21; }
    &::-ms-input-placeholder { color: @blue-21; }
    &::placeholder { color: @blue-21; }
  }

  &__label {
    display: block;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    text-transform: uppercase;
    text-align: center;
    color: @pink-49;
    cursor: pointer;
  }

  &__btns-group {
    display: flex;

    .time__field {
      width: 176px;
      text-align: center;
      border-left: none;
      border-right: none;
      border-radius: 0;
    }
  }
}
